@model SimpleCRM.ViewModels.AddDonorViewModel

<div class="text-center">
    <h1>Donor Management</h1>
</div>

<form asp-controller="Donor" asp-action="Add" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <div class="invalid-feedback" style="display:block;">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <div class="invalid-feedback" style="display:block;">
            <span asp-validation-for="Address"></span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="City"></label>
                <input class="form-control" asp-for="City" />
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="City"></span>
                    </div>
                </div>


            <div class="form-group col-md-4">
                <label asp-for="State"></label>
                <input class="form-control" asp-for="State" />
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="State"></span>
                    </div>
                </div>
            <div class="form-group col-md-2">
                <label asp-for="Zip"></label>
                <input class="form-control" asp-for="Zip" />
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="Zip"></span>
                    </div>
                </div>
            </div>

        <input type="submit" value="Add Donor" />
        <div class="text-success" style="display:block;">
            @TempData["message"]
            </div>


</form>



