@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    </div>
    <div class="alert alert-dismissible alert-danger" style="display:block;">
    <h3 class="alert-heading">User dashboard is currently under construction. Sorry for the inconvenience.</h3></div>
    <img src="https://static.tvtropes.org/pmwiki/pub/images/deja_q_hd_046_resized_6484.jpg" />
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to SimpleCRM</h1>
    </div>
    <div class="text-center">Please <a href="/Identity/Account/Login">log in</a> to continue</div>

}

