@model List<SimpleCRM.Models.Campaign>

<div class="text-center">
    <h1>Campaign Management</h1>
</div>

<div class="text-center">
    <h3>Current Campaigns</h3>
</div>

<table class="table">
    <tr>
        <th>Campaign Code</th>
        <th>Description</th>
    </tr>

    @foreach (var campaign in Model)
    {
        @if (campaign.CampaignYear == DateTime.Now.Year.ToString())

        {
            <tr>
                <td>@campaign.CampaignCode</td>
                <td>@campaign.CampaignDescription</td>
            </tr>
        }
    }
</table>

<div><a href="/Campaign/Search">Search for a Campaign</a></div>
<div><a href="/Campaign/Add">Add New Campaign</a></div>



