@model SimpleCRM.ViewModels.SearchCampaignsViewModel

<div class="text-danger" style="display:block;"><h3>Search is currently under construction.</h3></div>    
<form asp-controller="Campaign" asp-action="Search" method="post">
        <div class="form-group">
            <label asp-for="CampaignCode">Campaign Code</label>
            <input class="form-control" asp-for="CampaignCode" />
            <span asp-validation-for="CampaignCode"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Campaign Description</label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>

        <input type="submit" value="Search Campaigns" />

    </form>
